article.format-quote .entry-content blockquote {
	display: block;
	padding: 24px 24px 0;
	padding: 1.714285714rem 1.714285714rem 0;
	font-size: 15px;
	font-size: 1.071428571rem;
	line-height: 1.6;
	font-style: normal;
	color: #6a6a6a;
	background: #efefef;
}
.entry-content blockquote,blockquote,
.comment-content blockquote {
	margin-bottom: 24px;
padding: 10px 40px;
color: #787A79;
background: url(../images/quote-right.png) no-repeat right bottom;
padding-left: 0;
}
blockquote:before{
	content: '';
	background: url(../images/quote-left.png) no-repeat left top;
	width: 50px;
height: 50px;
display: block;
float: left;
min-height: 200px;
}
.site-content ul li {
list-style: outside;
margin-bottom: 0;
list-style: none;
list-style-image: url(../images/dot.png);
}
.site-content ul li {
list-style: outside;
margin-bottom: 0;
list-style: none;
list-style-image: url(../images/dot.png);
}
ul.check li {
list-style: outside;
margin-bottom: 0;
list-style: none;
list-style-image: url(../images/check.png);
}
.ui-accordion-header{
    font-size: 18px !important;
    margin: 0 !important;
    padding-left: 45px;
    background: url('../images/plus.png') #ffffff no-repeat 10px center !important;
    outline: 0;
    border: 1px solid #ccc;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    margin-top: 2px !important;
    cursor: pointer;
    font-weight: normal;
    font-family: 'PT Sans', sans-serif;
}
a.fasc-button.rounded.fasc-size-xlarge, .fasc-rounded-medium.fasc-size-xlarge {
border-radius: 40px !important;
padding: 6px 40px !important;
font-size: 40px !important;
font-weight: bold !important;
}
.ui-accordion-header a{
    color: #242423;
    text-decoration: none;
}
.accordian-shortcode-content{
    padding: 0px 20px;
}
.ui-accordion-header-active{
    background: url('../images/minus.png') #ffffff no-repeat 10px center !important;
}
/* =Plugins
----------------------------------------------- */
.wpcf7-form p{
	margin-bottom: 10px;
}
input[type="text"], input[type="email"], input[type="tel"], textarea {
width: 96%;
border: 1px solid #cccccc;
border-radius: 0;
font-size: 13px;
}