@media screen and (max-width: 1300px) {

}
@media screen and (max-width: 1024px) {

}
@media screen and (max-width: 900px) {


}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 600px) {

}
@media screen and (max-width: 480px) {

}
@media screen and (max-width: 300px) {

}
 @media screen and (max-width: 480px) and (-webkit-min-device-pixel-ratio:0){
      
      
}
@media only screen and (min-width: 1300px){
   
}