/*
Theme Name: Shyamol Custom Theme
Author: Shyamol
Author URI: http://Shyamol.com/
Text Domain: Shyamol
*/
/* =Reset
-------------------------------------------------------------- */

.mega-menu {
    display: none;
    left: 0;
    position: absolute;
    text-align: left;
    width: 100%;
  }



  /* #hoverable Class Styles
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .hoverable {
    position: static;
  }

  .hoverable > a:after {
    content: "\25BC";
    font-size: 10px;
    padding-left: 6px;
    position: relative;
    top: -1px;
  }

  .hoverable:hover .mega-menu {
    display: block;
  }


  /* #toggle Class Styles
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

  .toggleable > label:after {
    content: "\25BC";
    font-size: 10px;
    padding-left: 6px;
    position: relative;
    top: -1px;
  }

  .toggle-input {
    display: none;
  }
  .toggle-input:not(checked) ~ .mega-menu {
    display: none;
  }

  .toggle-input:checked ~ .mega-menu {
    display: block;
  }

  .toggle-input:checked + label {
    color: white;
    background: #2c5282; /*@apply bg-blue-800 */
  }

  .toggle-input:checked ~ label:after {
    content: "\25B2";
    font-size: 10px;
    padding-left: 6px;
    position: relative;
    top: -1px;
  }

.bg-red-extra:hover {
	background-color: #EE0000;
}
.bg-red-default{
	background-color: #EE0000;
}
.border-outline-red{
	border-color: #EE0000;
}
.text-red-extra{
	color: #EE0000;
}
.border-outline-red:hover{
	border-color: #EE0000;
	background-color: #EE0000;
}
.cta-icon{
	top: -50px;
    left: 0;
    right: 0;
}
.bg-cta-transparent{
	background-color: rgba(255, 255, 255, 0.9);
}
.bg-cta-transparent-1{
	background-color: rgba(255, 255, 255, 0.6);
}
.background-parallax{
	background-color: #cbd5e0;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23a0aec0' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23a0aec0' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%238e9bae' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%238e9bae' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%237c899c' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%237c899c' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%236b778a' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%236b778a' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%235a6679' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%235a6679' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%234a5568' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%234a5568' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}

.heading-red{
	background-image: linear-gradient(100deg, rgb(61, 61, 61), rgb(255, 77, 99));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;

}
.heading-red-reverse{
	background-image: linear-gradient(100deg, rgb(255, 77, 99), rgb(61, 61, 61));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;

}
h3.widget-title {
    font-size: 2.00rem;
    margin-bottom: 10px;
}
.widget_nav_menu ul li {
    color: #cbd5e0;
    margin: 5px;
}
.widget_nav_menu ul li a:hover {
    color: #e53e3e;
}
.mob-menu-logo-holder img {
    width: 150px;
    height: 40px !important;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  border-radius: .25rem;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease-out;
}
/* .view img {
    height: 250px;
    min-height: 100%;
} */

.content {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
.view {
  position: relative;
	height: 250px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}
.view:hover .overlay {
  width: 100%;
  left: 0;
}
.brands{
	background: fixed;
}


@media (max-width: 1024px) {
	.cta-icon {
		top: -30px;
	}
}

@media (max-width: 600px) {
	.cta-icon {
		top: -15px;
	}
	.overlay {
	  	position: relative;
		bottom: 0;
		left: 0;
		right: 0;
		border-radius: 0;
		background-color: transparent;
		overflow: visible;
		width: 100%;
		height: 100%;
		transition: none;
	}
	.view{
		height: 130px;
	}

	.content {
		color: black;
		font-size: auto;
		position: relative;
		display: block;
		top: 0;
		left: 0;
		transform: none;
		white-space: normal;
	}
}

@media (max-width: 768px) {
	.overlay {
	  	position: relative;
		bottom: 0;
		left: 0;
		right: 0;
		border-radius: 0;
		background-color: transparent;
		overflow: visible;
		width: 100%;
		height: 100%;
		transition: none;
	}
	.view{
		height: 130px;
	}
	.content{
		display: none !important;
	}

	.content {
		color: black;
		font-size: auto;
		position: relative;
		display: block;
		top: 0;
		left: 0;
		transform: none;
		white-space: normal;
	}
}


#flags {
    width: auto !important;
}